<% if @bid.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @bid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<h1 class = "bid_heading"> Place a new bid on this item.</h1>
<%= form_for @bid,html:{class: "ui form"} do |f| %>
    <!--<%= f.collection_select :item_id, Item.all, :id, :name%>-->
   
    <%= f.label :amount%>
    <%= f.number_field :amount%><br />

    <%=f.submit%>

  
<% end %>