<div class="ui container">
<h1><%= @user.name.titlecase%>'s profile page</h1>

<ul>
    <h3>Items you're selling: </h3>
        <%@user.items.each do |item|%>
            <li><%=link_to item.name, item_path(item) %> <%= link_to "Delete this item", item_path(item), :method => :delete %></li>
        <% end %>
</ul>
    <div>
    <h3>Bidding auctions you are in and the latest bids:</h3>
    <ul>
        <% @user.latest_bids.each do |bid| %>
            <li><%=link_to bid.item.name, item_path(bid.item)%>: <%=bid.amount%> <%= link_to "Delete this bid", bid_path(bid.item), :method => :delete %></li>
        <% end %>
    
    </ul>
</div>

<%= link_to "Sell an item.", new_item_path %>
</div>








