<% if @item.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1> Add a new item.</h1>
<%= form_for @item do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name%><br />

    <%= f.label :price%>
    <%= f.number_field :price, :step => "0.01" %><br />

    <%= f.label :desc%>
    <%= f.text_area :desc%><br />

    
    <%=f.submit%>

  
<% end %>