<head>
<title><%= @item.name%></title>
</head>
<h3>Listing page for: <%= @item.name%></h3>

<div> Description: <%= @item.desc%></div>
<div>Starting price: <%= @item.price%></div>
    <div> Current Price: $<%=@max.amount%></div>




</ul>

<div><%= link_to "Back to Items", items_path%></div>
<div><%= link_to "Place a Bid", new_bid_path%></div>