<!DOCTYPE html>
<html>
  <head>
    <title>Ebay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
   <ul class = "nav_ul">
     <li class = "nav_list"><a href="http://localhost:3000/items">H O M E</a></li>
     <!--Sneaker-->
    <%if current_user%>
       <a href="http://localhost:3000/users/<%=current_user.id%>" class="dropbtn"> P R O F I L E </a>
    <%else %>
        <a href="http://localhost:3000/login" class="dropbtn"> P R O F I L E </a>
    <% end %>
       <!--APPERAL-->  
     
     <!--NEWS drop down-->
      <%if current_user%>
        <div class ="ui right floated button"><%= link_to "Logout", logout_path %></div>
        <div class="login_status">Signed in as: <%= link_to current_user.username.titlecase, user_path(current_user) %></div>
      <% else %>
            <div class = "ui inverted button"><%= link_to "Login", login_path %></div>
            <div class = "ui inverted button"><%= link_to "Sign up", new_user_path %></div>

      <% end %>
         </ul>
     </body>
    <div class="header">
      <% if current_user %>
        <%= image_tag 'new_shebay.png', class: "logo_image" %>
      <% else %>
        <%= image_tag 'new_shebay.png', class: "login_image" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
